body{
    background-color:azure;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header a{
    text-decoration: none;
    cursor: pointer;
    color: white;
   
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #555;
    
}
.logo {
    font-size: 1.5rem;
    margin: .5rem;
}

.menu ul{
      display: flex;
      margin: 0;
      padding: 0;
}

.menu ul li {
    list-style: none;
    
}

.menu ul li a {
    text-transform: uppercase;
    display:block;
    padding: 1rem;
}

.menu ul li:hover{
    background-color: #333;
    transition: all 2s;
}


@media (max-width: 500px){
    .menu ul  {
        display: flex;
        flex-direction: column;

    }
    .menu ul li a {
        padding-bottom: 10px;
    }
    
    .form{
        font-size: 12px;
    }

    form .button{
    font-size: 10px;
    margin: 14px 9px;

}

}

@media (max-width: 320px){
    .menu ul li a {
        font-size: 12px;
    }
}


@media (max-width: 283px){
    .menu ul li a {
        font-size: 10px;
    }
}

.form{
    padding-left: 0.5rem;
}
form #rd{
    color: orange;

}

form #gg{
    color: yellowgreen;
 

}
form #yt{
    color: red;

}
form #fb{
    color: cornflowerblue;
}

.name {
    width: 80%;
}
.home-button a{
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
}
.home-button:hover{
    background-color: #333;
}
.home-button a:hover{

    color: white;
}
