body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    box-sizing: border-box;

}
a{
    box-sizing: border-box;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.imagem-logo-img {
    cursor: pointer;
}

h1{
    text-align: center;
}

.header {
    background-color: #555;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header a {
    text-decoration:  none;
    color: white;
}

.menu ul {
    display: flex;
}
.menu ul li {
    list-style: none;
}
.menu ul li a:hover{
    background-color: #333;
    transition: all 1s;
}
.menu ul li a {
    padding: 0.5rem 1.5rem;
    display: block;
  
}


@media (max-width: 464px){
    .menu ul li a {
        margin: 0;
        padding: 0;
    }

}
@media (max-width: 464px){
    .menu ul  {
        display: flex;
        flex-direction: column;

    }

    .menu ul li a {
        padding-bottom: 10px;
    }

}

@media (max-width: 600px) {
    .imagem{
    display: flex;
    justify-content: center;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 53px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
        
    }
    .imagem-logo-img{
        width: 360px;
        height: 250px;
    }
}
@media (max-width: 599px){
     .imagem{
    display: flex;
    justify-content: center;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    padding-inline-start: 1px;
        
    }
    .imagem-logo-img{
        width: 360px;
        height: 250px;
    }
}

@media (max-width: 400px) {
    .imagem{
        display: flex;
        justify-content: center;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 1px;
        margin-inline-end: 0px;
        padding-inline-start: 1px;
    }
      .imagem-logo-img{
        width: 310px;
        height: 250px;
    }
}