body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    box-sizing: border-box;

}
a{
    box-sizing: border-box;
}

.imagem{
    display: flex;
    justify-content: center;
}
.imagem-logo-img {
    cursor: pointer;
}

h1{
    text-align: center;
}

.header {
    background-color: #555;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header a {
    text-decoration:  none;
    color: white;
}

.menu ul {
    display: flex;
}
.menu ul li {
    list-style: none;
    display: block;
}
.menu ul li:hover{
    background-color: #333;
}
.menu ul li a {
    padding: 0.5rem 1.5rem;
    display: block;
  
}


@media (max-width: 464px){
    .menu ul li a {
        margin: 0;
        padding: 0;
    }

}
@media (max-width: 364px){
    .menu ul  {
        display: flex;
        flex-direction: column;

    }

    .menu ul li a {
        padding-bottom: 10px;
    }

}